body{
    margin: 0 ;
    padding: 0 ;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #EAEAEA;
    color: #000;
   
    z-index: 0;

}
.Container{
    position:absolute;
  
    width: 100%;
    height: 352px;
    background: linear-gradient(274.83deg, #5DB0DF 0.58%, #5D7ADF 74.3%);


}
.center {
    align-items : center;
}
.navbar{
   
    width: 80%;
    margin: auto;
    margin-top: 50px;
    height:30px;
  
    display: flex;
    justify-content: space-between;
}
.header{
   
    width: 80%;
    margin: auto;
    text-align:left;
    color: #fff;
    margin-top: 80px;
}
.header>p{
   
    font-size:20px;
    margin-top:-30px;
}
.header>h1{
   
    font-size:50px;
}
.leftnav{
    width:450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftnav>p{
   color: #fff;
   font-size:17px;
   margin-top: 7px;
}
.rightnav{
    width:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rightnav>p{
    color: #fff;
    font-size:17px;
    margin-top: 7px;
 }
.logo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}
.logo>p{
  font-size:20px;
  color: white;
  margin-left: 10px;
  margin-top:5px;
  font-weight: bold;
    
}
.logo>img{
  width:23px
      
  }
  #searchbox {
    background: #fff;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    padding: 0px 20px;
    width:78%;
   display: flex;
   justify-content: space-around;
   
}
.searchTab {
    gap: 10px;
    align-items: center;
}
.searchTab >input{
  border:none;
  outline:none
}
.inputbox::placeholder{
    font-size: 17px;
}
.selectbox{
    width: 300px;
    color: #7B7B7B;
    font-size: 17px;
}
.searchbtn {
    width: 280px;
    background: #f07987;
    font-size: 24px;
    height: 60px;
    border:none;
    outline: none;
    font-style: bold;
    border-radius:10px;
}
.selectbox{
    border:none;
    outline: none;
}